VITE_API_URL=http://localhost:5000/api
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_BASE_URL=https://res.cloudinary.com/your_cloud_name/image/upload
VITE_CLOUDINARY_CEO_IMAGE_URL=https://res.cloudinary.com/your_cloud_name/image/upload/f_auto,q_auto/dk-industry/ceo-founder
